@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-color: #a7a7a7 transparent;
  scrollbar-width: thin;
}
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2.5rem;
}

.carrossel {
  position: relative;
  width: 100%;
  aspect-ratio: 1694/573.5;
  overflow: hidden;
}
.carrossel__imagens {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0;
  transition: transform ease 500ms;
}
.carrossel__item {
  min-width: 100%;
  height: 100%;
}
.carrossel__botoes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -2rem);
  z-index: 1;
}
.carrossel__botao {
  background-color: rgba(167, 167, 167, 0.5);
  border-radius: 5rem;
  width: 12.5rem;
  height: 0.25rem;
}
.carrossel__preenchimento {
  width: 1%;
  height: 100%;
  background-color: #fff;
  transition: none;
}
.carrossel__preenchimento--completo {
  width: 100%;
  transition: width ease-out 5s;
}

.formulario {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.02rem;
  width: 100%;
}
.formulario__input {
  font-family: inherit;
  padding: 1rem;
  border: 1px solid #b0b0b0;
  border-radius: 0.8rem;
  width: 100%;
}
.formulario__botao {
  padding: 1.4rem 3rem;
  border-radius: 0.8rem;
  background-color: #1b1b1b;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  border: none;
}
.formulario__botao:hover {
  cursor: pointer;
}

.rodape {
  font-size: 1.33rem;
  padding-top: 2.5rem;
}
.rodape__newsletter--fundo-branco-escuro {
  background-color: #f9f9f9;
  padding: 3.12rem 2rem;
}
.rodape__app-nwesletter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 4.88rem;
  max-width: 136.6rem;
  margin: 0 auto;
}
@media (max-width: 80em) {
  .rodape__app-nwesletter {
    gap: 3.12rem;
  }
}
.rodape__logo {
  min-width: 1.8rem;
  height: 2.3rem;
}
.rodape__texto-newsletter {
  font-size: 3.12rem;
  font-weight: 700;
  font-family: serif;
  text-wrap: nowrap;
  line-height: 1;
}
.rodape__newsletter, .rodape__app {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.rodape__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.6rem;
  max-width: 136.6rem;
  width: 100%;
  margin: 0 auto;
}
.rodape__container-app {
  max-width: 50rem;
}
@media (max-width: 80em) {
  .rodape__container-app {
    width: 38rem;
  }
}
.rodape__container-newsletter {
  max-width: 50%;
}
@media (max-width: 80em) {
  .rodape__container-newsletter {
    max-width: 100%;
  }
}
.rodape__container-app, .rodape__container-newsletter {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.rodape__img-lojas {
  max-height: 4.2rem;
}
.rodape__informacoes {
  max-width: 60%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.6rem;
}
.rodape__secao-informacoes {
  padding: 3.12rem 2rem;
}
.rodape__informacao {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.rodape__links {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.65rem;
  color: #585858;
  list-style: none;
}
.rodape__links a {
  text-decoration: none;
  color: inherit;
}
.rodape__links a:hover {
  text-decoration: underline;
}
.rodape__titulo {
  font-family: serif;
  font-size: 1.92rem;
  font-weight: 700;
}
.rodape__ancora-icone {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  text-decoration-thickness: 1px;
  color: inherit;
  width: 50%;
}
.rodape__atendimento {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
  width: 100%;
  max-width: 46.4rem;
}
@media (max-width: 80em) {
  .rodape__atendimento {
    max-width: 35rem;
  }
}
.rodape__ancoras {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}
.rodape__icone {
  width: 2rem;
}
.rodape__whatsapp {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.8rem;
}
.rodape__whatsapp .rodape__ancora-icone {
  width: 100%;
}
.rodape__horarios {
  font-size: 1.11rem;
}
.rodape__redes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 2rem;
}
.rodape__rede {
  opacity: 0.6;
  filter: grayscale(1);
}
.rodape__rede:hover {
  opacity: 1;
  filter: none;
}
.rodape__diferenciais {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin: 6.1rem auto;
}
.rodape__diferencial {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  opacity: 0.5;
  max-width: 25rem;
  text-align: center;
}
.rodape__diferencial-img {
  max-height: 5rem;
  width: auto;
}
.rodape__diferencial-titulo {
  font-size: 1.92rem;
  font-weight: 700;
}
.rodape__certificacoes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
}
.rodape__certificacao {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1rem;
}
.rodape__certificacao-titulo {
  font-size: 1.6rem;
  font-weight: 700;
}
.rodape__certificacao-titulo--centralizado {
  text-align: center;
}
.rodape__certificados {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}
.rodape__certificado--opacidade {
  opacity: 0.5;
}
.rodape__certificado--opacidade:hover {
  opacity: 1;
}
.rodape__secao-empresa {
  text-align: center;
  background-color: #f0f0f0;
  font-size: 1.11rem;
  opacity: 0.5;
  padding: 1.28rem;
  width: 100%;
}

.cabecalho {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0 4.88rem;
  background-color: #fff;
  z-index: 999;
}
@media (max-width: 59.375em) {
  .cabecalho {
    padding: 0 3.12rem;
    position: relative;
  }
}
.cabecalho--aberto .cabecalho__menu-icone {
  display: none;
}
.cabecalho--aberto .cabecalho__menu-x {
  display: block;
}
.cabecalho--aberto .cabecalho__navegacao {
  display: flex;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  min-width: 100%;
}
.cabecalho--aberto .cabecalho__lista {
  flex-flow: column;
  gap: 0;
}
.cabecalho--aberto .cabecalho__item-lista {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 0;
  border-top: 1px solid #d8d9da;
  padding: 2rem 0 0 0;
  cursor: pointer;
}
.cabecalho--aberto .cabecalho__expansao-tipo {
  position: static;
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: none;
  z-index: 1;
  background-color: #f9f9f9;
  width: 100%;
  border-top: 1px solid #d8d9da;
}
.cabecalho--aberto .cabecalho__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  border-width: 0;
  padding: 0 2rem 2rem 2rem;
}
.cabecalho--aberto .cabecalho__link::after {
  content: "❯";
  transform: rotate(90deg);
}
.cabecalho--aberto .cabecalho__link--tipo::after {
  content: "";
}
.cabecalho--aberto .cabecalho__img-link {
  display: none;
}
.cabecalho__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  width: 100%;
}
@media (max-width: 59.375em) {
  .cabecalho__container {
    width: auto;
  }
}
.cabecalho__menu {
  display: none;
  width: 2.2rem;
  cursor: pointer;
}
.cabecalho__menu-x {
  display: none;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 59.375em) {
  .cabecalho__menu {
    display: block;
  }
}
.cabecalho__logo {
  min-width: 15rem;
  width: 15rem;
  margin-bottom: 2px;
}
@media (max-width: 59.375em) {
  .cabecalho__logo {
    margin: 2.33rem 0;
  }
}
.cabecalho__navegacao {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
  width: 100%;
  max-width: 81rem;
}
@media (max-width: 59.375em) {
  .cabecalho__navegacao {
    display: none;
  }
}
.cabecalho__lista {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.6rem;
  list-style: none;
  width: 100%;
}
.cabecalho__lista--tipo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.42rem;
  width: auto;
}
.cabecalho__link {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  border-bottom: solid 2px transparent;
  font-weight: 700;
}
.cabecalho__link-icone {
  text-decoration: none;
  color: inherit;
  fill: inherit;
  transition: transform ease 200ms, color ease 400ms, fill ease 400ms;
}
.cabecalho__link-icone:hover {
  transform: scale(1.1);
  color: red;
  fill: red;
}
.cabecalho__link-icone--logado .cabecalho__icone {
  display: none;
}
.cabecalho__link-icone--logado .cabecalho__icone--logado {
  display: block;
}
.cabecalho__link--ofertas {
  color: red;
}
.cabecalho__link--tipo {
  text-transform: none;
  font-weight: 400;
  color: #626262;
}
.cabecalho__link--tipo:hover, .cabecalho__link--tipo:active {
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.cabecalho__link:hover, .cabecalho__link:active {
  border-bottom-color: currentColor;
}
.cabecalho__link--perfil {
  text-transform: none;
  font-weight: 400;
  border-bottom: none;
}
.cabecalho__item-lista {
  padding: 2.5rem 0;
}
.cabecalho__item-lista:hover .cabecalho__expansao-tipo {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.cabecalho__expansao-tipo {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  padding: 3.12rem 4.88rem;
  background-color: #fff;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.cabecalho__img {
  max-height: 35rem;
}
@media (max-width: 59.375em) {
  .cabecalho__img {
    max-height: 30rem;
  }
}
.cabecalho__icones {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.28rem;
}
.cabecalho__icone {
  width: 2rem;
  height: 2rem;
  color: inherit;
}
@media (max-width: 80em) {
  .cabecalho__icone {
    width: 2.2rem;
    height: 2.2rem;
  }
}
@media (max-width: 59.375em) {
  .cabecalho__icone {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.cabecalho__icone--logado {
  display: none;
  fill: transparent;
  stroke: currentColor;
}
.cabecalho__icone--menor {
  width: 1.6rem;
}
@media (max-width: 80em) {
  .cabecalho__icone--menor {
    width: 1.78rem;
  }
}
@media (max-width: 59.375em) {
  .cabecalho__icone--menor {
    width: 1.8rem;
  }
}
.cabecalho__icone-carrinho {
  position: relative;
}
.cabecalho__itens {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(55%, -55%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: red;
  font-size: 1.11rem;
  color: #fff;
}
.cabecalho__itens--visivel {
  display: flex;
}
.cabecalho__icone-login {
  position: relative;
}
.cabecalho__informacoes-perfil {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.28rem;
  display: none;
  position: absolute;
  width: max-content;
  right: 0;
  top: 100%;
  transform: translatey(5%);
  padding: 3.12rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
}
.cabecalho__informacoes-perfil--aberto {
  display: flex;
}
.cabecalho__informacoes-perfil::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, -100%);
  border: solid 1rem transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}
.cabecalho__informacoes-perfil::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, -98%);
  border: solid 1rem transparent;
  border-bottom-color: #fff;
}
.cabecalho__texto {
  font-size: 1.33;
}
.cabecalho__texto span {
  font-weight: 700;
}

.banner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 1rem;
}

/*# sourceMappingURL=main.css.map */
