@use "../abstracts/auxiliares" as *;

.rodape {
  font-size: 1.33rem;
  padding-top: 2.5rem;

  &__newsletter--fundo-branco-escuro {
    background-color: $cor-branco-escuro;
    padding: 3.12rem 2rem;
  }

  &__app-nwesletter {
    @include flex($gap: 4.88rem, $align: center, $just: space-between);
    max-width: 136.6rem;
    margin: 0 auto;
    @include respond(big) {
      gap: 3.12rem;
    }
  }

  &__logo {
    min-width: 1.8rem;
    height: 2.3rem;
  }

  &__texto-newsletter {
    font-size: 3.12rem;
    font-weight: 700;
    font-family: serif;
    text-wrap: nowrap;
    line-height: 1;
  }

  &__newsletter,
  &__app {
    @include flex($gap: 1rem, $align: center);
  }

  &__container {
    @include flex($gap: 1.6rem, $just: space-between);
    max-width: 136.6rem;
    width: 100%;
    margin: 0 auto;

    &-app {
      max-width: 50rem;

      @include respond(big) {
        width: 38rem;
      }
    }
    &-newsletter {
      max-width: 50%;

      @include respond(big) {
        max-width: 100%;
      }
    }
    &-app,
    &-newsletter {
      @include flex($flow: column, $gap: 1.6rem);
    }
  }

  &__img-lojas {
    max-height: 4.2rem;
  }

  &__informacoes {
    max-width: 60%;
    width: 100%;
    @include flex($gap: 1.6rem, $just: space-between);
  }

  &__secao-informacoes {
    padding: 3.12rem 2rem;
  }

  &__informacao {
    @include flex($flow: column, $gap: 1.6rem);
  }

  &__links {
    @include flex($flow: column, $gap: 0.65rem);
    color: $cor-cinza-pouco-escuro;
    list-style: none;
    & a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__titulo {
    font-family: serif;
    font-size: 1.92rem;
    font-weight: 700;
  }

  &__ancora-icone {
    @include flex($gap: 1rem, $align: center);
    text-decoration-thickness: 1px;
    color: inherit;
    width: 50%;
  }

  &__atendimento {
    @include flex($flow: column, $gap: 1.6rem);
    width: 100%;
    max-width: 46.4rem;

    @include respond(big) {
      max-width: 35rem;
    }
  }
  &__ancoras {
    @include flex($just: space-between, $gap: 1rem, $wrap: wrap, $align: start);
  }

  &__icone {
    width: 2rem;
  }

  &__whatsapp {
    @include flex($flow: column, $gap: 0.8rem);

    & .rodape__ancora-icone {
      width: 100%;
    }
  }

  &__horarios {
    font-size: 1.11rem;
  }

  &__redes {
    @include flex($gap: 1rem, $just: space-evenly);
    margin-top: 2rem;
  }

  &__rede {
    opacity: 0.6;
    filter: grayscale(1);

    &:hover {
      opacity: 1;
      filter: none;
    }
  }

  &__diferenciais {
    @include flex($align: center, $gap: 2rem);
    margin: 6.1rem auto;
  }

  &__diferencial {
    @include flex($flow: column, $align: center, $gap: 1.6rem);
    opacity: 0.5;
    max-width: 25rem;
    text-align: center;

    &-img {
      max-height: 5rem;
      width: auto;
    }
    &-titulo {
      font-size: 1.92rem;
      font-weight: 700;
    }
  }

  &__certificacoes {
    @include flex($just: space-between, $gap: 2rem);
    max-width: 100%;
  }

  &__certificacao {
    @include flex($gap: 1rem, $flow: column);
    &-titulo {
      font-size: 1.6rem;
      font-weight: 700;

      &--centralizado {
        text-align: center;
      }
    }
  }

  &__certificados {
    @include flex($gap: 1.6rem, $align: center);
  }

  &__certificado {
    &--opacidade {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__secao-empresa {
    text-align: center;
    background-color: $cor-branco-mais-escuro;
    font-size: 1.11rem;
    opacity: 0.5;
    padding: 1.28rem;
    width: 100%;
  }
}
