@use "../abstracts/auxiliares" as *;

.cabecalho {
  @include flex($align: center, $just: space-between);
  padding: 0 4.88rem;
  background-color: $cor-branca;
  position: relative;
  z-index: 100;

  &__container {
    @include flex($align: center, $gap: 6.1rem);
  }

  &__logo {
    width: 15rem;
    margin-bottom: 3px;
  }

  &__lista {
    @include flex($gap: 4.88rem);
    list-style: none;

    &--tipo {
      @include flex($flow: column, $gap: 0.42rem);
    }
  }

  &__link {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    line-height: 1;
    border-bottom: solid 2px transparent;
    font-weight: 700;

    &-icone {
      text-decoration: none;
      color: inherit;
      fill: inherit;
      transition:
        transform ease 200ms,
        color ease 400ms,
        fill ease 400ms;

      &:hover {
        transform: scale(1.1);
        color: $cor-vermelha;
        fill: $cor-vermelha;
      }

      &--logado {
        & .cabecalho__icone {
          display: none;

          &--logado {
            display: block;
          }
        }
      }
    }

    &--ofertas {
      color: $cor-vermelha;
    }

    &--tipo {
      text-transform: none;
      font-weight: 400;
      color: $cor-cinza;

      &:hover,
      &:active {
        border: none;
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }

    &:hover,
    &:active {
      border-bottom-color: currentColor;
    }
  }

  &__item-lista {
    padding: 2.5rem 0;
    &:hover {
      & .cabecalho__expansao-tipo {
        // display: flex;

        // efeito de slide
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  &__expansao-tipo {
    @include flex($gap: 4.88rem);
    // display: none;

    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    padding: 3.12rem 4.88rem;
    background-color: $cor-branca;
    box-shadow: 0 0 0.1rem rgba($cor-preto, 0.1);

    // Efeito de slide
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  &__img {
    max-height: 35rem;
  }

  &__icones {
    @include flex($align: center, $gap: 1.28rem);
  }

  &__icone {
    width: 100%;
    max-width: 2rem;
    max-height: 2rem;
    color: inherit;

    &--logado {
      display: none;
      fill: transparent;
      stroke: currentColor;
    }
  }
}
