@use "../abstracts/auxiliares" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-color: $cor-cinza-claro transparent;
  scrollbar-width: thin;

  @include respond(big) {
    font-size: 56.25%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $cor-preto;
  background-color: $cor-branca;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

section {
  @include flex($flow: column, $gap: 2.5rem);
}
